<!DOCTYPE html>
<html>
  <head>
    <% include partials/head-i %>
  </head>

  <body  class="container-fluid">
  	<header>
    	<% include partials/header %>
  	</header>

    <main>
      <h1><%= title %></h1>
      <p>About page, which can be where we put information about the project</p>
    </main>

    <footer>
    	<% include partials/footer %>
  	</footer>
  </body>
</html>
