<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="container-fluid">
    <header>
        <% include partials/header %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
