<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <% include partials/header %>
    </header>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
