<!DOCTYPE html>
<html>
  <head>
    <% include partials/head-i %>

  </head>
  <body class="container-fluid">
    <header>
        <% include partials/header %>
    </header>

    <main>
      <div>
        <h1></h1>
        <p></p>
      </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
