<div class="form-group">
  <label for="promptTheme">Prompt Theme</label>
  <input type="text"
         class="form-control"
         name="promptTheme"
         value="<%= prompt.promptTheme %>">
</div>

<div class="form-group">
  <label for="promptText">Prompt</label>
  <input type="text"
         class="form-control"
         name="promptText"
         value="<%= prompt.promptText %>">
</div>



<div>
<input type="hidden" id="prompttext" name="prompt" value="<%= prompt.id %>">
</div>


