<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="page-wrap">
    <div>
      <h1 class="promptIndexH1">
        <div class="promptIndexNewButton"> <a href="/prompts/new" class="btn btn-primary">New Prompt</a> </div>
        Prompts:
      </h1>
      <% prompts.forEach(function(prompt) { %>
        <h4 class="promptIndexPromptText">
          <form method="POST" action="/prompts/<%= prompt._id %>?_method=DELETE">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <a href="/prompts/<%= prompt._id %>">
              <%= prompt.promptTheme + ' - ' + prompt.promptText %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>

  </main>


  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
</body>
</html>
