<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
   <p> Theme: <%= prompt.promptTheme %></p>
   <p> Text: <%= prompt.promptText %></p>
   <a href="/stories/new?prompt=<%= prompt._id %>" class="btn btn-primary">New Story</a>
   <a href="/stories/edit?prompt=<%= prompt._id %>" class="btn btn-danger">Edit Story</a>

   <!-- For Each loop for the hooks of stories -->
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
