<div class="form-group">
  <label for="storyHook">Hook</label>
  <input type="text"
         class="form-control"
         name="storyHook"
         value="<%= story.storyHook %>">
</div>

<div class="form-group">
  <label for="storyText">Story</label>
  <input type="text"
         class="form-control input-lg"
         name="storyText"
         value="<%= story.storyText %>">
</div>

<div>
<input type="hidden" name="prompt" value="<%= prompt%>">
</div>


