<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head-i %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <div>
      <h2><%= title %></h2>
      <% stories.forEach(function(story) { %>
        <h4>
          <form method="POST" action="/stories/<%= story._id %>?_method=DELETE">
            <a href="/stories/<%= story._id %>">
              <%= story.storyHook + ' - ' + story.storyText %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
