<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head-i %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h2><%= title %></h2>
    <p>Please create a story for the prompt:
    <p>Theme: <%= prompt.promptTheme %></p>
    <p>Text:  <%= prompt.promptText %></p>
    <form class="story-form" action="/stories" method="post">
      <% include _form %>
      <a href="/prompts/<%= prompt._id %>" class="btn btn-primary">Back   <i class="fa fa-undo" aria-hidden="true"></i></a>
      <button type="submit" class="btn btn-success">Save   <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
