<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
  <div class="prompt">
  <p> Prompt: <%= stories.prompt %></p>
  </div>
  <p> This page should show my story!</p>
  <div class="hook">
  <p> Hook: <%= stories.storyHook %></p>
  </div>
  <div class="text">
  <p> Text: <%= stories.storyText %></p>
  </div>



  <a href="/edit?stories=<%= stories._id %>" class="btn btn-primary">Edit Story</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
