<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
  <p> This page should show my story!</p>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
