/* This is michaels style page for users */
@import url(https://fonts.googleapis.com/css?family=Oswald);


body {
  padding: 50px;
  font: 14px font-family: 'Oswald', sans-serif;
  color: #1a1a1a;
  background-color: white;
}
header{
	color: #9400D3;
	background-color: #90EE90;
}
main{
	/*width: 900px;*/
  /*text-align: center;*/
  /*background-color: #ffcc33;*/
  margin: 0 auto;
}

footer{
	color: #9400D3;
	background-color: #90EE90;
  bottom: 0;
}
.floatMyBoat {
   float: left;
   margin: 10px;
   padding: 10px;
   width: 300px;
   height: 300px;
   border: 1px solid black;
} 
.prompts{
	display: inline-block;
  float: left;  
    background: orange;
    position: relative;
    left: 0;
    width: 445px;
    /*height: 100px;*/
}
.stories{
	display: inline-block;
  float: right;
    background: brown;
    position: relative;
    left: 0;
    width: 445px;
    /*height: 100px;*/
}
#clear {
    clear: both;
}