/* This is michaels style page for users */
@import url(https://fonts.googleapis.com/css?family=Oswald);


body {
  padding: 50px;
  font: 14px font-family: 'Oswald', sans-serif;
  color: #1a1a1a;
  background-color: white;
}
header{
	color: #9400D3;
	background-color: #90EE90;
}
main{
	/*width: 900px;*/
  /*text-align: center;*/
  /*background-color: #ffcc33;*/
  margin: 0 auto;
}

footer{
	color: #9400D3;
	background-color: #90EE90;
  bottom: 0;
}
.floatMyBoat {
   float: left;
   margin: 10px;
   padding: 10px;
   width: 300px;
   height: 300px;
   border: 1px solid black;
} 
.prompts-container{
  background: orange;
  display: inline-block;
  width: 450px;
  text-align: left;
  padding: 20px;
/*  background-color: #d3f3f3;*/
  border: 1px solid red;
  /*border-radius: 3px;*/
  margin: 15px;
  vertical-align: top;
}
.stories-container{
  background: brown;
  display: inline-block;
  width: 450px;
  text-align: left;
  padding: 20px;
/*  background-color: #d1d2d3;*/
  border: 1px solid red;
  /*border-radius: 3px;*/
  margin: 15px;
}
#clear {
    clear: both;
}