/*==========================================================================*/


/* CLASSES */


/*==========================================================================*/

.container-fluid {}


.promptShowPromptText {
  padding-left: 30px;
}

.promptShowStoryHook {
  padding-left: 60px;
  padding-top: 10px;
}

.promptIndexH1 {
  text-align: center;

}

.promptIndexNewButton {
  text-align: left;

}

.promptIndexPromptText {
  text-align: left;
  max-width: 600px;
}


.storyShowPromptText {
    padding-left: 1.1em;
    font-size: 5em;
}

.storyShowHook {
  font-size: 2em;
}

.storyShowStoryText {
  font-size: 2em;
}

.form-control.input-lg {
    height: 6em;
}


/*==========================================================================*/


/* ID'S */


/*==========================================================================*/
#storyShow {
  text-align: center;
  margin: auto;
  max-width: 800px;
}

#storyShowTheme {
  font-size: 3em;
  font-family: Merriweather;
  padding-left: 1.5em;
}

/*==========================================================================*/


/* GLOBAL */


/*==========================================================================*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 42px;
}
