/*==========================================================================*/


/* CLASSES */


/*==========================================================================*/

.container-fluid {}


.promptShowPromptText {
  text-align: center;

}


.storyShowTheme {
  padding-left: 2em;
}

.promptShowStoryHook {
  text-align: center;
  padding: 25px;

}

.promptIndexH1 {
  text-align: center;
  padding: 50px;

}

.promptIndexNewButton {
  text-align: left;

}

.promptIndexPromptText {
  text-align: left;
}

.storyShowPromptText {
    padding-left: 1.1em;
}

h4.storyShowHook {
  font-size: 2em;
}

.storyShowStoryText {
  font-size: 2em;
}

.form-control.input-lg {
    height: 6em;
}


/*==========================================================================*/


/* ID'S */


/*==========================================================================*/
#storyShow {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

/*==========================================================================*/


/* GLOBAL */


/*==========================================================================*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 42px;
}
