<div class="form-group">
  <label for="email">Email</label>
  <input type="text"
         class="form-control"
         name="email"
         value="<%= user.email %>">
</div>

<div class="form-group">
  <label for="penName">Pen Name</label>
  <input type="text"
         class="form-control"
         name="penName"
         value="<%= user.penName %>">
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input type="text"
         class="form-control"
         name="password"
         value="<%= user.password %>">
</div>
