<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/myStyle.css">
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="container">
  <!-- http://localhost:3000/users/show/ -->    

    <h1> <%= title %> </h1>
    <h3>Welcome <%= currentUser.local.email %> </h3>
    <p>These are the Story Prompts and Stories you have writen.</p> 
    

    <section class="prompts-container page-wrap">
      <p>Story Prompts Container are for a list of the Prompts this User has created.
        This page should be able to be called from a story (penName) link, and as such should not be an  required type page. <br>
        </p>
        <ul>
        <!-- Prompt loop here -->
        <% prompts.forEach(function(prompt) { %>
         <li class="fa fa-file-text-o"><a href="/prompts/<%= prompt._id %>">
            <%= prompt.promptTheme + ' - ' + prompt.promptText %>
          </a></li>                 
        <% }) %>
        <!-- Prompt loop here -->
         </ul>
      
    </section>

    <section class="stories-container">
      <p>Container are for a list of the Stories this User has created.
        This page should be able to be called from a Story (penName) link, and as such should not be an required type page. <br>
        <i>&lt;stories.forEach(function(story)&gt;</i><br>
        <ul>
          <li>Story Hook - Story Body<li>
          <li>Story Hook - Story Body<li>
          <li>Story Hook - Story Body<li>
        </ul>
      </p>
    </section>
  </div>
    <div id="clear"></div>
  </main>

  <footer  class="site-footer">
    <% include ../partials/footer %>
  </footer>
</body>
</html>
